<html>
<head>
    <link rel="stylesheet" href="/css/loggit_style.css">
    <script src="/js/season-entry-card.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <title>Loggit!</title>

</head>
<body>
<header>

    <div class="header-content">
        <div class="logo-container">
            <img id= "site-logo" src="/img/logo1.png" alt="logo"/>
            <h4 class="logo">LOGGIT!</h4>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="https://discord.com/api/oauth2/authorize?client_id=827251043447734313&permissions=1611131968&scope=bot">ADD ME!</a></li>
            </ul>
        </nav>
    </div>

</header>
<main>
    <section class="presentation">
        <div class="entry-host">
            <img class="avatar" src="<%=loggers[0].server_avatar%>" alt="server avatar">
            <h4><%=loggers.server_name%>'s Server Leaderboard</h4>
        </div>

        <div class="card-border">
            <%loggers.sort((a, b) => (parseInt(a.total_hours) < parseInt(b.total_hours)) ? 1 : -1);%>

            <%let count = 1;%>
            <% for ( let user of loggers ) { %>
            <season-card
                    class="season-user"
                    rank="<%=count%>"
                    avatar="<%=user.user_avatar%>"
                    username="<%=user.tag_id%>"
                    minutes="<%=user.total_hours%>"
                    profile_link="<%=user.user_id%>"
            ></season-card>
            <%count++;%>
            <% } %>
        </div>
    </section>
</main>

</body>
</html>