<html>
<head>
    <link rel="stylesheet" href="./static/css/loggit_style.css">
    <script src="/studywithme/static/js/listing-tags.js"></script>
</head>
<body>
<div>
    <%loggers.sort((a, b) => (parseInt(a.total_hours) < parseInt(b.total_hours)) ? 1 : -1);%>
    <table>
        <thead>
            <th>Rank</th>
            <th>Avatar</th>
            <th>Username</th>
            <th>Minutes</th>
        </thead>
        <tbody>
    <%let count = 1;%>
    <% for ( let user of loggers ) { %>
            <season-card
            class="season-user"
            rank="<%=count%>"
            avatar="<%=user.user_avatar%>"
            username="<%=user.tag_id%>"
            minutes="<%=user.total_hours%>"
            profile_link="<%=user.user_id%>"
            ></season-card>
        <%count++;%>
    <% } %>
        </tbody>

    </table>

</div>
</body>
</html>