<html>
<head>
    <link rel="stylesheet" href="/css/loggit_style.css">
    <script src="/js/season-entry-card.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <title>Loggit!</title>

</head>
<body>
<header>

    <div class="header-content">
        <div class="logo-container">
            <img id= "site-logo" src="/img/logo1.png" alt="logo"/>
            <h4 class="logo">LOGGIT!</h4>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a class="nav-link">ADD ME!</a></li>
            </ul>
        </nav>
    </div>

</header>
<div>
    <%loggers.sort((a, b) => (parseInt(a.total_hours) < parseInt(b.total_hours)) ? 1 : -1);%>

    <%let count = 1;%>
    <% for ( let user of loggers ) { %>
            <season-card
            class="season-user"
            rank="<%=count%>"
            avatar="<%=user.user_avatar%>"
            username="<%=user.tag_id%>"
            minutes="<%=user.total_hours%>"
            profile_link="<%=user.user_id%>"
            ></season-card>
        <%count++;%>
    <% } %>
</div>
</body>
</html>