<html>
<head>
    <link rel="stylesheet" href="/css/loggit_style.css">
    <script src="/js/user-entry-card.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <title>Loggit!</title>

</head>
<body>
<header>

    <div class="header-content">
        <div class="logo-container">
            <img id= "site-logo" src="/img/logo1.png" alt="logo"/>
            <h4 class="logo">LOGGIT!</h4>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="https://discord.com/api/oauth2/authorize?client_id=827251043447734313&permissions=1611131968&scope=bot">ADD ME!</a></li>
            </ul>
        </nav>
    </div>

</header>
<main>
    <section class="presentation">
        <div class="entry-host">
            <img class="avatar" src="<%=user_logs[0].user_avatar%>" alt="server avatar">
            <h4 ><%=user_logs[0].tag_id%>'s Logs</h4>
        </div>
        <div class="season">
            <a id ="num_season" href="/Season/List/?server_id=<%=user_logs[0].server_id%>&season_number=<%=user_logs.season_number%>">
                Season #<%=user_logs.season_number%>
            </a>
        </div>

        <div class="entry-border">

            <% for ( let log of user_logs ) { %>
            <entry-card
                    class="user-entry-card"
                    proof="<%=log.proof%>"
                    minutes="<%=log.hours%>"

            ></entry-card>

            <% } %>
        </div>
    </section>
</main>

</body>
</html>